	/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 
 

*/
@import "bootstrap"; ;

body {
    background-image: url("ruby.png");
    background-repeat: repeat;
  }
h1 { 
	color: white 
}

label{
	color:white;
}

hr{
	background-color: white;
}
a:hover{
	text-decoration: none;
	color: red;
}

#error_explanation{
	color: red;
	
}
#notice {
	color: white;
}
.container{
	background-color: #3d454f; 
	height: 105%;
	margin-top: 2%;
	border-radius:5px;
	padding-bottom: 20%;



}
.navBar{

	background-color: #3d454f !important;
	
}
.navBar h4{
	color:white;
}

.navBar a{
	color:white;	
}

.backArrow{
	width: 3%;
	float:left;
	min-width: 20px;
}
.course-img{
	width: 6%;

}

.course-elem{
	display: inline-block;
	border-left: none;
	margin-bottom: 10px;
	border:none; 
	background-color: #3d454f;
	color: white;
	border-bottom: solid 1px;
	border-color: white;
	border-radius: none;
}
.course-elem:hover{
	background-color: #7d656f;
} 
.newCourse-img{
	width: 20%;
}
.showCourse{
	text-decoration:none;
	color: white;
	font-size: 20px;
}
.newCourse{
	color: white;
	font-size: 30px;
	float: right;
	text-decoration: none !important;
	margin-top: -2%;
}
.del-course-img{
	width: 6%;
	margin-top: 1%;
	float:right;
}
.edit-course-img{
	width: 6%;

}
.del-student-img{
	min-width: 30px;
	width: 50%;
}
.del-evaluation-img{
	width: 4%;
	float: right;
}
.evaluationsTitle{
	color:white;
	text-decoration:none;
}
.evaluationsTitle:hover{
	color:red;
}
.evaluationsItem {
	color:white;
	text-decoration: none;
}

.evaluationData  {
	color:red;
	display: inline-block;
}
.evaluationData  strong{
	color:white;
}

.newEvaluation{
	float:right;
	font-size: 20px;
	text-decoration: none;
	color:white;
	display: inline-block;
}

.infoEvaluation{
	color:white;
	font-size: 25px;
	display: inline-block;
}
.infoStudent{
	color:white;
	font-size: 25px;
	
}

.newStudent{
	color: white;
	font-size: 20px;
	float: right;
	text-decoration: none !important;

}
.newStudent-img{
	width: 15%;
}
.formTitle{
	text-align: center;
}

.gradesTable{
	text-align: center;
	width:50%;
}
.gradesTable input{
	width: 50%;
	text-align: center;
}

.dropdown-menu{
	background-color: transparent;
	margin-left: 10%;
	border: none;
}









